* {
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
}

a {
  position: absolute;
  color: white;
  font-size: 22px;
  text-decoration: none, underline;
  left: 688px;
}

a:hover {
  color: #93fff7;
}

a:focus {
  color: #089aff
}

body{
  text-align: center;
  background-image: url(../img/background.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

.bdy {
  text-align: center;
  background-image: url(../img/background.jpg);
  height: 1000px;
  background-size: cover;
  background-position: center;
}
.title-home {
  font-size: 40px;
  text-transform: lowercase;
  text-decoration: underline;
  background:#089aff; 
  color: #99306f;
  padding: 20px;
  border-radius: 100px;
  height: 50px;
  width: 200px;
  margin-left: 648px;
  margin-top: 100px;
  border-style: solid;
  border-width: 2px;
}

.title-create {
  font-size: 40px;
  text-transform: lowercase;
  text-decoration: underline;
  background:#089aff; 
  color: #99306f;
  padding: 20px;
  border-radius: 100px;
  height: 50px;
  width: 200px;
  margin-left: 640px;
  margin-top: 100px;
  border-style: solid;
  border-width: 2px;
}


input {
  margin-top: 50px;
  margin-left: 30px;
  height: 30px;
  color:black;
  font-size: 15px;
  border-radius: 100px;
}

input:focus {
  background-color: #93fff7;
}

button {
  margin-top: 42px;
  margin-bottom: 22px;
  margin-left: 23px;
  width: 80px;
  height: 30px;
  border-radius: 100px;
}

.genero {
  width: 230px;
  height: 32px;
  margin-top: 45px;
  font-size: 15px;
  border-radius: 100px;
  margin-left: 30px;
  color: gray;
  cursor: pointer;
}

.genero:focus {
  color:black;
}

.btn {
  margin-top: 60px;
  margin-left: 16px;
}

a button:hover {
  background-color: #e16fb3;
}


button:hover {
  background-color: #93fff7;
  cursor: pointer;
}

button:focus{
  background:#089aff;
}

.copyright-home {
  font-style: normal;
  font-size: larger;
  color:white;
  background: #99306f;
  border-radius: 200px 200px 0px 0px;
  width: 200px;
  height: 50px;
  border-style: double;
  margin-left: 650px;
  margin-top: 150px;
  padding-left: 20px;
}

.copyright-create{
  font-style: normal;
  font-size: larger;
  color:white;
  background: #99306f;
  border-radius: 200px 200px 0px 0px;
  width: 200px;
  height: 50px;
  border-style: double;
  margin-left: 650px;
  margin-top: 133px;
  padding-left: 20px;
}